body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(242, 250, 249);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 300px));
    grid-template-rows: repeat(2, minmax(auto, auto));
    gap: 26px;
}

.daniel {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: hsl(263, 55%, 52%);
    border-radius: 10px;
    padding: 30px;
}

.jonathan {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
    padding: 30px;
}

.jeanette {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}

.jeanette > .userinfo > .usertext > .name {
    color: hsl(217, 19%, 35%);
}

.jeanette > .userinfo > .usertext > .verified {
    color: hsla(217, 19%, 35%, 0.5);
}

.secondH {
    color: hsl(217, 19%, 35%);
    font-size: 22px;
}

.secondP {
    color: hsla(217, 19%, 35%, 0.5);
}

.patrick {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.kira {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}

.name {
    color: white;
}
.verified {
    color: hsl(0, 0%, 81%);
}
p {
    color: hsl(0, 0%, 81%);
}

.userinfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
}

.userinfo > img {
    border: solid 2px hsl(0, 0%, 81%);
    border-radius: 50%;
    max-width: 2em;
    max-height: 2em;
}

.usertext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
}

h1 {
    color: hsl(210, 46%, 95%);
    font-size: 22px;
}